body {
	font-family: sans-serif;
}

.wrap {
	width: 500px;
	margin: 3% auto;
	padding: 5px;
	background-color: #FFF5E6;
	border-radius: 10px;
}

.header {
	text-align: center;
	padding: 1px;
}

.container {
}

#info {
	margin: 20px 20px 30px 50px;
}

#titlebox {
	padding: 2px;
	width: 200px;
	margin: 20px 0px 30px 0px;
	font-size: 15px;
}

#blogbox {

	padding: 2px;
	margin: 20px 0px 30px 50px;
	font-size: 18px;
	font-family: sans-serif;
	border-radius: 10px;
	border: 1px solid 	#FFC266;

}

#submitbutton {
	margin: 10px 0px 30px 50px;
	width: 100px;
	height: 30px;
	font-size: 15px;
	border: 1px solid white;
	border-radius: 4px;
	background-color: 	#FFC266;
}

#submitbutton:hover {
	background-color: white;
	color: #E68A00;
	border: 1px solid #FFAD33;

}

.errmessage {
	background-color: #FFB2B2;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
	margin: 0px 0px 20px 100px;
	width: 280px;
	height: 20px;
	padding: 10px;
}