ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: black;
}

body {
	width: 960px;
	margin: 0 auto;
	font-family: sans-serif;
}

.wrap {
	
	margin: 0px 100px 0px 100px;
	/*background-color: #F0F0F0;*/
	background-color: #FFF5E6;
	padding: 0px 15px 0px 0px;

}

.userid {
	color: #FF9900;
}

.userid a {
	color: white;
}


.container {
	background-color: #FFE0B2;
	padding: 1px;
	margin: 100px 100px 2px 100px;
	border-radius: 10px;

}

.container h2 {
	margin-left: 10px;
	position: relative;
}

.nav {
	padding: 2px;
}

.nav li {
	font-size: 17px;
	float: right;
	margin-right: 5px;
	border-left: 1px solid black;
	padding-left: 7px;

}

.nav li a {
	color: black;


}

.nav li a:hover {
	/*color: 	#666666;*/
	color: #FF9900;
	text-decoration: underline;
}

.row {
	margin-top: 40px;
}

.row li{
	background-color: #F8F8F8;
	margin-bottom: 6px;
	text-align: left;
	padding: 5px;
}

.row li:hover {
	background-color: #FFEBCC;
}

.row li:last-child {
	margin-bottom: 10px;
}

footer {
	width: 760px;
	height: 30px;
	margin: 0 auto;
	background-color: #FFE6C0;
	text-align: center;	
	border-radius: 3px;
}

footer p {
	padding: 5px;
}